@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
.heading {
  text-align: center;
  font-family: "Bungee Shade", cursive;
}

.red-part {
  color: red;
}

.green-part {
  color: green;
}

.blue-part {
  color: blue;
}
