@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Bungee Shade", cursive;
}

.navbuttons {
  font-size: 30px;
  width: 170px;
}

a {
  text-decoration: none;
  color: red;
  padding: 10px;
  transition: background-color 1s;
  border-radius: 10%;
}

a:hover {
  border-radius: 10%;
  background-color: red;
  color: white;
}
